name: merge-master

on:
  push:
    branches:
      - 'dev'

jobs:
  build_linux:
    uses: ./.github/workflows/test-linux.yml
  merge_master:
      runs-on: ubuntu-latest
      needs: [build_linux]
    steps:
      name: dev -> master
      run : |
        git pull origin dev