name: merge-master

on:
  push:
    branches:
      - 'dev'

jobs:
  build_linux:
    uses: ./.github/workflows/test-linux.yml
  merge_master:
    runs-on: ubuntu-latest
    needs: [build_linux]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: dev -> master
        run : |
          git checkout main
          git pull origin dev
          git push